<h1 class="h1_text">コーチになる</h1>

<div class="flex mt-6 mb-8 items-center">

  <div class="relative pt-1 w-8/12">
    <div class="h-2 sm:h-3 flex rounded-full bg-baseGray">
      <div style="width:<%= registration_complete_rate %>%" class="rounded-full  bg-black"></div>
    </div>
  </div>

  <div class="ml-2 sm:ml-3">
    完了率<%= registration_complete_rate %>%
  </div>

</div>