<h1><%=  @skill_category.name %></h1>
<ul>
  <% @skills.each do |skill| %>
    <li><%= link_to skill.name, search_skill_category_skill_path(skill_category_en_name: @skill_category,en_name: skill) %></li>
  <% end %>
</ul>
