<h2>フォロー一覧</h2>
<% @follows.each do |follow| %>

  <% if follow.image.attached? %>
    <%= image_tag follow.image %>
  <% else %>
    <%= image_tag "default_icon.png" %>
  <% end %>

  <p><%= link_to follow.name, coach_path(id: follow.coach.id) %></p>
  <%= follow.profile %><br>

<% end %>