<%= form_with model: @user, url: user_want_skills_path, method: :post do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <h2>教えてもらいたいスキル</h2>
  <p>コーチに教えてもらいたいことは何ですか？</p>
  <p>複数選択可</p>

  <div class="field">

    <%= form.collection_check_boxes :user_want_skills, @skills, :id, :name %>

  </div>

  <div class="actions">
    <%= form.submit "更新する" %>
  </div>

<% end %>