<%= form_with model: @user do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <div class="field">

    <%= form.collection_check_boxes :user_want_skills, @skills, :id, :name %>

  </div>

  <div class="actions">
    <%= form.submit "更新する" %>
  </div>

<% end %>