<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/form" %>
  <%= javascript_pack_tag "utilities/text" %>
<% end %>

<div class="sm:px-8">

  <div id="registration_complete_rate">
    <%= render "registrations/shared/coach_registration_title", registration_complete_rate: @registration_complete_rate %>
  </div>

  <h2>審査面談スケジュール登録</h2>

  <!-- Calendly inline widget begin -->
  <div class="calendly-inline-widget" data-url="https://calendly.com/komatsu3613" style="min-width:320px;height:630px;"></div>

  <%= link_to "戻る", registrations_schedules_path %>

</div>

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

<script>
  function isCalendlyEvent(e) {
    return e.data.event &&
          e.data.event.indexOf('calendly') === 0;
  };

  window.addEventListener(
    'message',
    function(e) {
      if (isCalendlyEvent(e)) {
        console.log(e.data);
        if(e.data.event === "calendly.event_scheduled"){
          $.ajax({
            url: '/registrations/examination_interview_date',
            type: 'PUT'
          });
        }
      }
    }
  );
</script>