<h2>審査面談スケジュール登録</h2>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/komatsu3613" style="min-width:320px;height:630px;"></div>

<%= link_to "戻る", registrations_portfolios_path %>

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

<script>
  function isCalendlyEvent(e) {
    return e.data.event &&
           e.data.event.indexOf('calendly') === 0;
  };

  window.addEventListener(
    'message',
    function(e) {
      if (isCalendlyEvent(e)) {
        console.log(e.data);
        if(e.data.event === "calendly.event_scheduled"){
          fetch(location.href, { method: 'PUT' })
        }
      }
    }
  );
</script>

