<%= form_with model: @user, url: mypage_profile_path do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <h2>プロフィール</h2>

  <div class="field">
    <%= form.text_area :profile %>
  </div>

  <div class="actions">
    <%= form.submit "更新する" %>
  </div>

<% end %>