<% if flash[:error].present? %>
  <div>
    <ul>
      <li><%= flash[:error] %></li>
    </ul>
  </div>
<% end %>

<% if flash[:success].present? %>
  <div>
    <ul>
      <li><%= flash[:success] %></li>
    </ul>
  </div>
<% end %>