<h1>ITコーチになろう！</h1>

<% if user_signed_in? %>

  <% if current_user.coach&.examination_status != ExaminationStatus::BEFORE_EXAMINATION %>
    <%= link_to  "コーチになる",mypage_path %>
  <% else %>
    <%= link_to "コーチになる", registrations_image_path %>
  <% end %>

<% else %>

  <%= link_to "コーチになる", new_user_registration_path %>

<% end %>