<h1>コーチになる</h1>
<%= render "registrations/shared/registration_complete_rate", registration_complete_rate: @registration_complete_rate %>

<h2>スキル</h2>
<%= render "registrations/user_skills/form", model: @user %>

<%= link_to "戻る", registrations_profile_path %>