<%= form_with model: @user, url: setting_email_path do |form| %>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>

<% end %>